/********************
blog post
*********************/
#box-model-content {
  border: 1px dashed #323232;
}

#box-model-border {
  margin: 0 -2rem 0 -2rem;
  padding: 2rem;
  border: 1px solid #323232;
}

.ruby {
  border: 1px solid black;
  background: #F2F2F2;
  padding: .1rem .2rem;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream, Vera Sans Mono, Courier New;
}
