/********************
mobile-first
********************/
*{
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
}

.rows:after {
  content: "";
  clear: both;
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #F2F2F2;
}

.hidden {
  display: none;
}

.button {
  border: none;
  margin: .5rem .25rem;
  text-decoration: none;
  font-size: .75em;
  background: #00AEEF;
  color: #fff;
  padding: .75rem 1rem;
}
/********************
main-header
********************/
.main-header {
  background: #232323;
  text-align: center;
}

.main-header .img {
  background: #fff;
}

.main-header img {
  width: 50%;
  margin: 5rem 0;
}

#white {
  display: none;
}

.main-header h1 {
  color: #fff;
  font-size: 1rem;
  padding: 2.5rem 0;
  margin: 0;
  border-top: .5rem solid #00AEEF;
}

.main-header span {
  color: #00AEEF;
}

.main-header span:hover {
  color: #fff;
  text-decoration: underline;
}

/********************
main-nav
********************/
.main-nav,
.social-media {
  text-align: center;
  background: #fff;
}

.main-nav ul {
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav li {
  margin: .5rem 0;
  padding: .75rem;
  background-color: #00AEEF;
}

.main-nav li:hover {
  background-color: #fff;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
}

.main-nav a:hover {
  color: #00AEEF;
}

.main-nav .current {
  background: #fff;
}

.main-nav .current a {
  color: #00AEEF;
}
/*******************
social-media
********************/
.social-media {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.social-media ul {
  padding: 3rem;
}

.social-media li {
  display: inline;
}

.social-media a {
  margin: 0 3rem;
}

.social-media img {
  width: 4rem;
}

/*******************
projects
********************/
.projects {
  text-align: center;
  width: 90%;
  background: #fff;
  margin: 0 auto;
  padding: .5rem 2rem 2rem 2rem;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}


.projects-header {
  font-size: .75rem;
}

.projects li {
  font-size: 1rem;
  margin: 2.5rem;
}

.projects a {
  text-decoration: none;
  font-size: .75rem;
  background: #00AEEF;
  color: #fff;
  padding: .75rem 1rem;
}

/*******************
main
********************/
.featured,
.featured-content,
.blog-preview {
  width: 90%;
  margin: 0 auto;
  background: #fff;
}

.featured p,
.featured-content p,
.blog-preview p {
  text-indent: 2rem;
}

/*******************
featured
********************/
.featured {
  padding: .5rem 2rem 2rem 2rem;
}

.featured-header {
  text-align: center;
}

/********************
content
*********************/
.featured-content {
  padding: .5rem 2rem 2rem 2rem;
  text-align: center;
}

.featured-content-header {
  text-align: left;
}

.featured-content p {
  margin-bottom: 2rem;
  text-align: left;
}

.featured-content a {
  text-decoration: none;
  font-size: .75rem;
  background: #00AEEF;
  color: #fff;
  padding: .75rem 1rem;
}

/********************
blog preview
*********************/
.blog-preview {
  padding: .5rem 2rem 2rem 2rem;
  text-align: center;
}

.blog-header {
  text-align: left;
}

.blog-header h2 {
  font-size: .75rem;
  text-align: left;
}

.date {
  font-size: .75rem;
  text-align: left;
}

.blog-preview p {
  margin-bottom: 2rem;
  text-align: left;
}

.blog-preview a {
  text-decoration: none;
  font-size: .75em;
  background: #00AEEF;
  color: #fff;
  padding: .75rem 1rem;
}

/********************
footer
********************/
.main-footer {
  margin-top: 3rem;
  clear: both;
  border-top: 1rem solid #00AEEF;
  background-color: #323232;
  padding: 5rem;
}

/********************
footer-nav
********************/
.footer-nav {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  padding: .25rem;
  display: inline;
}

.footer-nav a {
  color: #D3D3D3;
  text-decoration: none;
}

/********************
footer logo
********************/
.main-footer img {
  width: 100%;
  margin-top: -5rem;
  margin-bottom: -5rem;
}

/********************
footer copyright
********************/
.copright {
  font-size: .5rem;
  color: #fff;
  text-align: center;
}


/********************
Contact
********************/
.contact {
  padding: .5rem 2rem 2rem 2rem;
  margin: 0 auto;
  background-color: #fff;
  width: 90%;
}

.contact h1 {
  text-align: center;
  font-size: 3rem;
}

.contact p {
  text-indent: 2rem;
}

form {
  margin: 0 auto;
  text-align: center;

}

#name,
#email,
#message {
  width: 90%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid #00AEEF;
  text-align: center;
  font-size: 2rem;
  background: none;
}


#message {
  height: 20rem;
}

/********************
about
********************/
.about {
  padding: .5rem 2rem 2rem 2rem;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

.about img {
  width: 100%;
}


/********************
desktop
********************/
@media only screen and (min-device-width: 730px) {

  [class*="col-"] {
  float: left;
  padding: 15px
  }
/*column widths*/
  .col-1 {width: 8.33%}
  .col-2 {width:16.66%;}
  .col-3 {width:25%;}
  .col-4 {width:33.33%;}
  .col-5 {width:41.66%;}
  .col-6 {width:50%;}
  .col-7 {width:58.33%;}
  .col-8 {width:66.66%;}
  .col-9 {width:75%;}
  .col-10 {width:83.33%;}
  .col-11 {width:91.66%;}
  .col-12 {width:100%;}

/*offset columns*/
  .col-offset-1 {margin-left: 8.33%}
  .col-offset-2 {margin-left: 16.66%}
  .col-offset-3 {margin-left: 25%}
  .col-offset-4 {margin-left: 33.3%}
  .col-offset-5 {margin-left:41.66%;}
  .col-offset-6 {margin-left: 50%}
  .col-offset-7 {margin-left: 58.33%}
  .col-offset-8 {margin-left: 66.66%}
  .col-offset-9 {margin-left: 75%}
  .col-offset-10 {margin-left: 83.33%}
  .col-offset-11 {margin-left: 91.66%}

/********************
main-header
********************/
  .main-header {
    text-align: center;
    height: 44.1rem;
    margin: 0;
    border-bottom: .60rem solid #00AEEF;
  }

  .main-header .img {
    background: none;
  }

  .main-header .img img {
    width: 50%;
    margin: -5.5rem;
  }

  #black {
    display: none;
  }

  #white {
    display: inline;
  }

  .main-header h1 {
    border-top: none;
    font-size: 1.5rem;
    padding: 0;
  }

  .main-header span {
    color: #00AEEF;
    font-size: 3rem;
  }

/********************
main-nav
********************/
  .main-nav {
    background: none;
    margin: 0;
  }

  .main-nav ul {
    font-size: .75rem;
  }

  .main-nav li {
    display: inline;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .main-nav a {
    padding: .75rem 1rem;
  }

  .nav-arrow {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid none;
    border-radius: 50%;
  }

  .nav-arrow img {
    margin: -1rem;
    padding: .5rem;
    width: 6rem;
    height: 6rem;
  }

/********************
sidebar
********************/
  .sidebar {
    background: #fff;
    margin-top: 1.25rem;
  }

/********************
social-media
********************/
  .social-media {
    margin-top: 0;
  }

  .social-media ul {
    padding: 0;
  }

  .social-media a {
    margin: 0 1rem;
  }

  .social-media img {
    width: 1.5rem;
  }

/*******************
projects
********************/
  .projects {
    width: 100%;
    border-top: 1px solid #D3D3D3;
  }

/*******************
main
********************/
  main {
    margin-top: .25rem;
  }

/*******************
featured, featured-content, blog-preview
********************/
  .featured,
  .featured-content,
  .blog-preview {
    width: 100%;
  }

/*******************
blog-preview
********************/

  .blog-preview {
    margin-bottom: 1rem;
  }

/********************
footer
********************/
  .main-footer {
    clear: both;
    border-top: .75rem solid #00AEEF;
    padding: 0;
    height: 20rem;
  }


/********************
footer-nav
********************/
  .footer-nav {
    font-size: .75rem;
    margin-top: 2rem;
  }

  .footer-nav li {
    padding: .5rem;
  }

/********************
footer copyright
********************/
  .copright {
    font-size: .5em;
  }

/********************
footer logo
********************/
  .main-footer img {
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

/********************
Contact
********************/
  .contact {
    margin-top: .4rem;
    width: 100%;
    background: url("../imgs/contact-bg.png");
    background-size: auto 100%;
  }

  .contact h1 {
    text-align: left;
    padding-top: 1.5rem;
    text-indent: 3rem;
    font-size: 3rem;
  }

  .contact p {
    text-indent: 0rem;
    margin-left: 14rem;
    font-size: 1rem;
  }

  #name,
  #email,
  #message {
    height: 2rem;
    font-size: .75rem;
    width: 75%;
  }

  #message {
    height: 10rem;
  }

/********************
about
********************/
  .about {
    padding: .5rem 2rem 2rem 2rem;
    width: 100%;
    margin: 0 auto;
    background: #fff;
  }
}



